^K	/.Q2!GO^TQ1Q1-15"=OPASS2'Q1IOGO!PASS2I

!P2GOQ2JQ2A-15"=OSTOP'Q2A&77+40*100Q3%2A-15"=ZJI
	Q3\OSTOP'ZJI
	Q2A&77+40+Q3\Q2+1Q2OP2GO!STOPZJI
	0000
$$